In [ ]:
1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [97]:
miLista = ['Formosa','Montevideo','Clorinda','Asunsión','LagunaBlanca','Lima']

print(miLista)

['Formosa', 'Montevideo', 'Clorinda', 'Asunsión', 'LagunaBlanca', 'Lima']

In [ ]:
2) Imprimir por pantalla el segundo elemento de la lista

In [99]:
miLista[1]

'Montevideo'

In [ ]:
3) Imprimir por pantalla del segundo al cuarto elemento

In [100]:
miLista[2:5]

['Clorinda', 'Asunsión', 'LagunaBlanca']

In [ ]:
4) Visualizar el tipo de dato de la lista

In [18]:
type(miLista[1])

str

In [ ]:
5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [103]:
miLista[3:]

['Asunsión', 'LagunaBlanca', 'Lima']

In [ ]:
6) Visualizar los primeros 4 elementos de la lista

In [104]:
miLista[:4]

['Formosa', 'Montevideo', 'Clorinda', 'Asunsión']

In [ ]:
7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [105]:
miLista.append('xxx')
miLista.insert(0,'Mexico')
print(miLista)

['Mexico', 'Formosa', 'Montevideo', 'Clorinda', 'Asunsión', 'LagunaBlanca', 'Lima', 'xxx']

In [ ]:
8) Agregar otra ciudad, pero en la cuarta posición

In [106]:
miLista.insert(4,'Puerto Rico')

In [107]:
print(miLista)

['Mexico', 'Formosa', 'Montevideo', 'Clorinda', 'Puerto Rico', 'Asunsión', 'LagunaBlanca', 'Lima', 'xxx']

In [ ]:
9) Concatenar otra lista a la ya creada

In [108]:

ML2 = ['S','A','C','SE']
miLista.extend(ML2)

In [109]:
print(miLista)

['Mexico', 'Formosa', 'Montevideo', 'Clorinda', 'Puerto Rico', 'Asunsión', 'LagunaBlanca', 'Lima', 'xxx', 'S', 'A', 'C', 'SE']

In [124]:
miLista.append(ML2)

In [125]:
print(miLista)

['Mexico', 'Formosa', 'Montevideo', 'Clorinda', 'Puerto Rico', 'Asunsión', 'LagunaBlanca', 'Lima', 'xxx', 'S', 'A', 'C', 'SE', ['S', 'A', 'C', 'SE']]

In [ ]:
10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [132]:
print(len(miLista)-1)
print(miLista[8])

13
xxx

In [123]:
miLista.index('xxx')

8

In [130]:
print(miLista[13])

['S', 'A', 'C', 'SE']

In [ ]:
11) ¿Qué pasa si se busca un elemento que no existe?

In [133]:
miLista('ee')

TypeError: 'list' object is not callable

In [137]:
'xxx' in miLista

True

In [ ]:
12) Eliminar un elemento de la lista

In [134]:
print(miLista)

['Mexico', 'Formosa', 'Montevideo', 'Clorinda', 'Puerto Rico', 'Asunsión', 'LagunaBlanca', 'Lima', 'xxx', 'S', 'A', 'C', 'SE', ['S', 'A', 'C', 'SE']]

In [135]:
miLista.remove('A')

In [140]:
del(miLista[9])

In [141]:
print(miLista)

['Mexico', 'Formosa', 'Montevideo', 'Clorinda', 'Puerto Rico', 'Asunsión', 'LagunaBlanca', 'Lima', 'xxx', 'C', 'SE', ['S', 'A', 'C', 'SE']]

In [ ]:
13) ¿Qué pasa si el elemento a eliminar no existe?

In [143]:
del('d')

SyntaxError: cannot delete literal (3767822034.py, line 1)

In [ ]:
14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [144]:
variable = miLista.pop()

In [ ]:
15) Mostrar la lista multiplicada por 4

In [146]:
variable*4

['S',
 'A',
 'C',
 'SE',
 'S',
 'A',
 'C',
 'SE',
 'S',
 'A',
 'C',
 'SE',
 'S',
 'A',
 'C',
 'SE']

In [150]:
print(miLista*4)

['Mexico', 'Formosa', 'Montevideo', 'Clorinda', 'Puerto Rico', 'Asunsión', 'LagunaBlanca', 'Lima', 'xxx', 'C', 'SE', 'Mexico', 'Formosa', 'Montevideo', 'Clorinda', 'Puerto Rico', 'Asunsión', 'LagunaBlanca', 'Lima', 'xxx', 'C', 'SE', 'Mexico', 'Formosa', 'Montevideo', 'Clorinda', 'Puerto Rico', 'Asunsión', 'LagunaBlanca', 'Lima', 'xxx', 'C', 'SE', 'Mexico', 'Formosa', 'Montevideo', 'Clorinda', 'Puerto Rico', 'Asunsión', 'LagunaBlanca', 'Lima', 'xxx', 'C', 'SE']

In [276]:
V=miLista*4
V.sort()
print(V)

['Asunsión', 'Asunsión', 'Asunsión', 'Asunsión', 'C', 'C', 'C', 'C', 'Clorinda', 'Clorinda', 'Clorinda', 'Clorinda', 'Formosa', 'Formosa', 'Formosa', 'Formosa', 'LagunaBlanca', 'LagunaBlanca', 'LagunaBlanca', 'LagunaBlanca', 'Lima', 'Lima', 'Lima', 'Lima', 'Mexico', 'Mexico', 'Mexico', 'Mexico', 'Montevideo', 'Montevideo', 'Montevideo', 'Montevideo', 'Puerto Rico', 'Puerto Rico', 'Puerto Rico', 'Puerto Rico', 'SE', 'SE', 'SE', 'SE', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'xxx', 'xxx', 'xxx', 'xxx']

In [285]:
V.count('paris')

28

In [281]:

for i in V:

    for j in V:
        if(V[i] == V[j]):

SyntaxError: incomplete input (3801521100.py, line 5)

In [ ]:
16) Crear una tupla que contenga los números enteros del 1 al 20

In [272]:
x = (1,2,3,4,5,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)
print(type(x))
print(x)

<class 'tuple'>
(1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [ ]:
17) Imprimir desde el índice 10 al 15 de la tupla

In [274]:
print (x[10:16])

(10, 11, 12, 13, 14, 15)

In [ ]:
18) Evaluar si los números 20 y 30 están dentro de la tupla

In [241]:
if (20 and 30 in x): print(True)
else: print(False)

False

In [ ]:
19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [248]:

miLista.append('paris')
print(miLista.index('paris'))

11

In [249]:
'paris' in miLista

True

In [269]:
elemento = 'paris'
if(elemento in miLista):print ((str(elemento), True))
else:print(((str(elemento), False)))

('paris', True)

In [ ]:
20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [286]:
print(x.count(5))

2

In [ ]:
21) Convertir la tupla en una lista

In [264]:
list (x)

[1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [287]:
x

(1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [288]:
l,e,k, = x[:3]

In [292]:
print(k)
print (l)
print(e)

3
1
2

In [294]:
tup2 =(1,3)
print(tup2)

(1, 3)

In [ ]:
23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [297]:
dicc = {
        'x':miLista,
        'y':x}

In [298]:
print(dicc.keys())

dict_keys(['x', 'y'])

In [299]:
dicc.values()

dict_values([['Mexico', 'Formosa', 'Montevideo', 'Clorinda', 'Puerto Rico', 'Asunsión', 'LagunaBlanca', 'Lima', 'xxx', 'C', 'SE', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris'], (1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)])

In [ ]:
24) Imprimir las claves del diccionario

In [305]:
print(dicc['x'])

['Mexico', 'Formosa', 'Montevideo', 'Clorinda', 'Puerto Rico', 'Asunsión', 'LagunaBlanca', 'Lima', 'xxx', 'C', 'SE', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris', 'paris']

In [307]:
print(dicc['y']*4)

(1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 1, 2, 3, 4, 5, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

In [ ]:
25) Imprimir las ciudades a través de su clave

In [308]:
print(dicc.keys())

dict_keys(['x', 'y'])